

<div id="my-body">

    <!-- Navigation -->
   <app-navbar></app-navbar>>
    <div class="container mt-5">

        <div class="row">
            <div class="col">
                <div class="card shopping-cart">
                    <div class="card-header bg-light ">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Shipping cart
                    </div>
                    <div class="card-body">
                        <!-- PRODUCT -->
                        <div class="row" id="products-list">

                        </div>

                        <!-- END PRODUCT -->
                    </div>
                    <div class="card-footer">
                        <div class="float-left">
                            Total price: <b id="total-price"></b>
                        </div>

                        <div class="float-right">
                            <button class="btn btn-sm btn-info">Passer Commande</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>

<app-footer></app-footer>>

</div>
